
*.pyc
src/json.data/Version.json
src/json.data/preset.json
src/json.data/DFPS.json
src/json.data/Description.json
src/json.data/Cheats.json
src/Manager_Config.ini
scripts/Mods/Aspect Ratios/Aspect ratio 16-10
scripts/Mods/Aspect Ratios/Aspect ratio 16-10 PS4 UI
scripts/Mods/Aspect Ratios/Aspect ratio 16-10 STEAMDECK UI
scripts/Mods/Aspect Ratios/Aspect ratio 16-10 XBOX UI
scripts/Mods/Aspect Ratios/Aspect ratio 21-9
scripts/Mods/Aspect Ratios/Aspect ratio 21-9 PS4 UI
scripts/Mods/Aspect Ratios/Aspect ratio 21-9 STEAMDECK UI
scripts/Mods/Aspect Ratios/Aspect ratio 21-9 XBOX UI
scripts/Mods/Aspect Ratios/Aspect ratio 4-4
scripts/Mods/Aspect Ratios/Aspect ratio 4-4 PS4 UI
scripts/Mods/Aspect Ratios/Aspect ratio 4-4 STEAMDECK UI
scripts/Mods/Aspect Ratios/Aspect ratio 4-4 XBOX UI
scripts/Mods/FP Mods/First Person FOV 110
scripts/Mods/FP Mods/First Person FOV 70
scripts/Mods/FP Mods/First Person FOV 90
scripts/Mods/UI Mods/BlackscreenFix
scripts/Mods/UI Mods/Playstation UI
scripts/Mods/UI Mods/Xbox UI
