*.pyc
src/Manager_Config.ini
src/.idea/
src/logger.txt
scripts/Mods/Aspect Ratios/Aspect Ratio 16-10
scripts/Mods/Aspect Ratios/Aspect Ratio 16-10 PS4 UI
scripts/Mods/Aspect Ratios/Aspect Ratio 16-10 STEAMDECK UI
scripts/Mods/Aspect Ratios/Aspect Ratio 16-10 XBOX UI
scripts/Mods/Aspect Ratios/Aspect Ratio 21-9
scripts/Mods/Aspect Ratios/Aspect Ratio 21-9 PS4 UI
scripts/Mods/Aspect Ratios/Aspect Ratio 21-9 STEAMDECK UI
scripts/Mods/Aspect Ratios/Aspect Ratio 21-9 XBOX UI
scripts/Mods/Aspect Ratios/Aspect Ratio 4-4
scripts/Mods/Aspect Ratios/Aspect Ratio 4-4 PS4 UI
scripts/Mods/Aspect Ratios/Aspect Ratio 4-4 STEAMDECK UI
scripts/Mods/Aspect Ratios/Aspect Ratio 4-4 XBOX UI
scripts/Mods/FP Mods/First Person FOV 110
scripts/Mods/FP Mods/First Person FOV 70
scripts/Mods/FP Mods/First Person FOV 90
scripts/Mods/UI Mods/Black Screen Fix
scripts/Mods/UI Mods/Playstation UI
scripts/Mods/UI Mods/Xbox UI
*.iml
*.xml
src/\!\!\!TOTK Optimizer/exefs/main.npdm
src/\!\!\!TOTK Optimizer/exefs/subsdk3
src/modules/logger.txt
*.spec
*.txt
/src/dist
/src/build
venv
*.log
src/run.dist.zip
/src/run.dist
src/TOTKOptimizer.ini
